
  
  .grid-3x2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
    max-width: 1100px;
    margin: 10px;
  }
  /* Grid cards */
  .grid-card {
    background: #ffffff;
    border: 3px solid #e5e7eb;   /* thick border */
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  .text-light {
    color: #6b7280 !important;
  }

  .text-lighter {
    color: #9ca3af !important;
  }
  .text-md-14 {
    font-size: 10px !important;
    font-weight: 100;   /* medium */
    line-height: 1.5;
  }
